.content {
  max-width: 1024px;
}

.content_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
  
}

.content__playlist {
  display: flex;
  flex-direction: column;
 
}

.title_track {
  width: 447px;
}

.title_author {
  width: 321px;
}

.title_album {
  width: 245px;
}

.title_time {
  width: 60px;
text-align: end;
}

.time_svg {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.col01 {
width: 447px;
}

.col02 {
width: 321px;
}

.col03 {
width: 245px;
}
.col04 {
width: 60px;
text-align: end;
}

.playlist {
display: flex;
flex-direction: column;
}
