.filter__category{
  display: flex;
  align-items: center;
}

.filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
    
  }
  
  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #FFFFFF;
    border-radius: 60px;
    padding: 6px 20px;
    background-color: #181818;
    color: #FFFFFF;
  }
  ul{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
 .menu-container {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
 }
  
  .dropdown-menu {
    background-color: #313131;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
  }