.centerblock__filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 51px;
}

.filter{
  display: flex;
    flex-direction: row;
    align-items: center;
}

.h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 51px;
  margin-top: 51px;
}

.filter__category{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-right: 15px;
  }

.button {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid #FFFFFF;
      border-radius: 60px;
      padding: 6px 20px;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
    
  }
  
  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #FFFFFF;
    border-radius: 60px;
    padding: 6px 20px;
    background-color: #181818;
    color: #FFFFFF;
  }  

  .filter__button.active{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 60px;
    padding: 6px 20px;
    background-color: #181818;
    border-color: #AD61FF;
    color: #AD61FF;
    cursor: pointer;
    
  }

  .category {
    position: relative;
  }
  
  .category-button {
    background-color: #eee;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .category-button.active {
    background-color: #ccc;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #313131;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    overflow-y: scroll; /* добавляем полосу прокрутки */
    scrollbar-width: thin; /* устанавливаем толщину полосы прокрутки */
    scrollbar-color: #6b6b6b #313131; /* устанавливаем цвет полосы прокрутки */
}

/* стили для полосы прокрутки в Chrome, Edge и Safari
.dropdown::-webkit-scrollbar {
    width: 6px;
}

.dropdown::-webkit-scrollbar-track {
    background-color: #313131;
}

.dropdown::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
} */
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    color: #AD61FF;
    cursor: pointer;;
  }
