.menu {
    position: fixed;
    width: 220px;
    top: 140px;
    left: 35px;
    transform: translateX(-110%);
    transition: all 0.4s;
    z-index: 50;    
}

.active {
    transform: translateX(0);
    transition: all 0.4s;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: var(--color-basic-text);
}

li {
    list-style-type: none;
}

.menu__list {
    padding: 18px 0 10px 0;
}

.menu__item {
    padding: 5px 0;
    margin-bottom: 16px;
    text-decoration: none;
    list-style-type: none;
    
}

.menu__link {
    color: var(--color-basic-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

