.block {
    width: 100%;
    border-bottom: 1px solid var(--border-input-search);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    width: 100%;
    border-bottom: 1px solid var(--border-input-search);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    stroke: var(--color-basic-text);
    fill: transparent;
}

.text {
    flex-grow: 100;
    background-color: transparent;
    color: var(--color-basic-text);
    border: none;
    padding: 13px 10px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   
}

.text::placeholder {
    background-color: transparent;
    color: var(--color-basic-text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}