.login_form,
.register_form {
    display: flex;
    justify-content: center;
}
.logo_svg {
    width: 114px;
    height: 43px;
    margin-top: 10px;
}

.container {
    width: 366px;
    height: 439px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'StratosSkyeng', sans-serif;
    border-radius: 10px;
    margin-top: 150px;
    padding-top:40px;
    border: 1px solid #D0CECE ;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
}

.login_input {
    width: 275px;
    border: none;
    border-bottom: 1px solid #D0CECE;
    padding: 5px 5px;
    margin-top:40px;
}

.login_input::placeholder {
    color: #E1E1E1;
}

.btn_box {
    margin-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
}

button,
._btn {
    cursor: pointer;
    width: 278px;
    height: 52px;
    border-radius: 10px;
    border: 0;
    
}

.btn_sign {
    color: #fff;
    background: #580EA2;
}

.btn_reg {
    color: #000;
    background: #fff;
    border: 2px solid #D0CECE
}

.btn_reg_reg {
    color: #fff;
    background: #580EA2;
}

.btn-text:hover {
    border-color: #D9B6FF;
    color: #D9B6FF;
    cursor: pointer;
}

.btn-text:active {
    border-color: #AD61FF;
    color: #AD61FF;
    cursor: pointer;
}